// Fonts
$sans-fallback: Verdana, Helvetica, Arial, sans-serif;
$sans: Poppins, $sans-fallback;

// Font Weight
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-light: 300;
$font-weight-bold: 600;

// Colors
$orange: #ff9900;
$black: #2f281e;
$blue: #567592;
$gray: #544837;
